@font-face {
    font-family: 'icomoon';
    src:  url('./fonts/icomoon.eot?v43n9o');
    src:  url('./fonts/icomoon.eot?v43n9o#iefix') format('embedded-opentype'),
      url('./fonts/icomoon.ttf?v43n9o') format('truetype'),
      url('./fonts/icomoon.woff?v43n9o') format('woff'),
      url('./fonts/icomoon.svg?v43n9o#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e900";
  }


body
{
    background-color:#DDDBCB;        
    color: #050505;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
    padding: 0px;
}

.header
{
    background-color: #1D2027;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, .5);
    margin: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.logo
{
    color: #DDDBCB;
    margin: 20px 20px;
}
.logo h1{
    margin: 0;
}
 
.menu ol
{
    list-style: none;
    display: flex;
    align-items: center;
}
.menu__link
{
    padding: 27px 20px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding-right: 20px;
}
.menu__link:hover
{
    background-color: #DDDBCB;
    color: #050505;
}
.hero
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #9c9a8a4d;
    height: 300px;
    /* background-image: url(images/hero.jpg);
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position: right; */
}
.hero__title
{
    font-size: 40px;
    text-align: justify; 
    color: rgb(255, 255, 255, 1);
}
.hero__title strong{
    color: #050505;
}
.project
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 2px solid #050505;
    border-radius: 10px;
    padding: 20px; 
    margin: 10px;
}
.portfolio__title
{
    text-transform: uppercase;
    margin-left: 10px;
}

.project-details
{
    width: 50%;
}
.project-title
{
    font-size: 30px;
}
.project-course,
.project-date,
.project-url {
  margin: 10px 0;
}
.project-course
{
    font-size: 14px;
}
.project-date,
.project-url
{
    font-size: 18px;
}

.project-url a
{
    color: #050505;
    text-decoration: none;
}
.project-url a:hover
{
    text-decoration: underline;
}

.project-description
{
    margin-top: 10px;
    font-size: 1.2em;
}

.project-imageContainer
{
    width: 50%;
    margin: 0px;
}
.project-imageContainer img{
    max-width: 100%;
}
.youtube-video{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.flexible-video{
    width: 100%;
    height: 0;
    padding-top: 56.26016260162602%;
    background: #1D2027;
    position: relative;
}
.event-list
{
    display: flex;
    flex-wrap: wrap;
} 
.event-list-title
{
    margin-left: 10px;
    text-transform: uppercase;
}
.event
{
    margin: 1%;
    width: 48%;
    flex-shrink: 0;
    border-radius: 20px;
    font-size: 1.1em;
    overflow: hidden;
    background: linear-gradient( #000000,#DDDBCB);
}

.event-imageContainer
{
    margin: 0px;
}
.event-image
{
    width: 480px;
    height: 200px;
    object-fit: cover;
}
.event-detail-video{
    margin: 0;
    position: relative;
    padding: 20px;
    text-align: center;
    color: white;
    font-weight: lighter;
    background: #1D2027;
}
.event-detail
{
    margin: 20px 40px;
    position: relative;
    padding: 20px;
    margin-top: -40px;
    text-align: center;
    color: white;
    font-weight: lighter;
    background: #1D2027;
}
.event-title-video{
    margin: 0;
    font-weight: 100;

}
.event-title
{   
    font-weight: 100;
}
.event-descripion-video{
    margin: 10px 0 20px 0;
    text-align: left;
}
.event-descripion
{
    text-align: left;
    margin: 20px 0;
}
.event-url
{
    color: #DDDBCB;
    border: 1px solid;
    text-decoration: none;
    border-radius: 10px;
    padding: 5px 30px;
    margin-top: 10px;
}
.event-url:hover
{
    background: #DDDBCB;
    color: #1D2027;
}
.contact
{
    background: #9c9a8a4d;
    height: 150px;  
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1em;
}

.form-email h3
{
    text-transform: uppercase;
}
.form-email input
{
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
    background-image: url(./images/envelope.svg);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}
.form-email button
{
    display: block;
    margin-top: 10px;
    background: transparent;
    border-radius: 5px;
    border: 1.5px solid #050505;
    padding: 10px 0;
    font-weight: bold;
    width: 100px;
    cursor: pointer;

}
.form-email button:hover
{
    background: #050505;
    color: #DDDBCB;
}
.social-link
{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;
}
.social-link.twitter
{
    background-image: url(./images/twitter.svg);
}

.social-link.facebook
{
    background-image: url(./images/facebook.svg);
}
.social-link.github
{
    background-image: url(./images/github.svg);
}
.social-link.instagram
{
    background-image: url(./images/instagram.svg);
}
.footer
{
    background-color: #1D2027;
    color: #DDDBCB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 70px;
    padding: 0 1em;
}
.footer p
{
    margin: 0;
}
.footer img
{    
    vertical-align: middle;
}
.footer a
{
    color: #DDDBCB;
    text-decoration: none;
}
.footer a:hover
{
    text-decoration: underline;
}
.container
{
    max-width: 1000px;
    flex: 1;
    height: inherit;
    margin: 0 auto;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    flex-wrap: inherit;
}
.burger-button{

    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    color: #000000;
    display: none;
    line-height: 40px;
    text-align: center;
    z-index: 40;
    top: 5px;
    left: 5px;
    position: fixed;
}
@media screen and (max-width: 1024px)
{   
    .hero{
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 4em 4em 4em 1em;
    }
    .hero__img{
        position: absolute;
        z-index: 10;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
    }
    .hero__title{
        font-size: 2.3em;
        z-index: 20;
        margin: 0;
        text-align: left;
        background: hsla(0, 0%, 2%, 0.7);
    }
    .hero__title strong{
        color: rgb(255, 255, 255, 1);
    }
    .project-title, .project-course, .project-details, .project-date, .project-url{
        margin: .3em 0;
    }
}
@media screen and (max-width: 767px)
{   
    .burger-button{
        display: block;
        line-height: 40px;
        text-align: center;
        z-index: 40;
        top: 15px;
        left: 5px;
    }

    .header
    {
        display: block;
        height: auto;
    }
    .header ol
    {
        display: block;
        text-align: center;
        margin-bottom: 0px;
        padding: 0;
    }
    .header ol li
    {
        height: 100px;
    }
    .logo
    {
        text-align: center;
        margin: 0;
    }
    .logo h1
    {
        margin: 0;
        padding: 16px;
        font-size: 1.8em;
    }
    .menu{
        position: fixed;
        background: rgba(5, 5, 5, .8);
        z-index: 30;
        top: 0;
        left: -100vw;
        width: 100vw;
        height: 100vh;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .5s;
    }
    .menu.is-active{
        left: 0;
    }
    .menu__link
    {
        font-size: 2em;
    }
    .hero__title{
        font-size: 2em;
    }
    .project{
        display: block;
    }
    .project-imageContainer{
        width: auto;
    }
    .project-details{
        width: auto;
        font-size: 16px;
    }
    .project-title, .project-course, .project-details, .project-date, .project-url{
        margin: .3em 0;
    }

    .project-title{
        font-size: 1.5em;
    }
    .project-course{
        font-size: 1.2em;
    }
    .project-date{
        font-size: 1em;
    }
    .project-url{
        font-size: 1em;
    }
    .project-description{
        font-size: 1.1em;
    }
    .event{
        width: auto;
        flex-shrink: initial;
        font-size: 1em;
    }
    .event-image{
        width: 100%;
    } 
    .event-detail{
        margin: -2em .5em .5em; 
        padding: 1em;
    }
}
@media screen and (max-width: 480px)
{
    .hero__title{
        font-size: 1.5em;
    }
    .hero__img{
        height: auto;
    }
    .project-details{
        font-size: 14px;
    }
    .contact{
        height: auto;
        padding: 1em 0;
        display: block;
        text-align: center;
    }
    .form-email button{
        margin: 1em auto 1.1em;
    }
    .form-email h3{
        margin-top: 0;
    }
    .footer{
        display: block;
        text-align: center;
        height: auto;
        padding: .5em;
        border: 1px solid transparent;
    }
}
@media screen and (max-width: 375px){

    .hero__title{
        font-size: 1.2em;
    }
}

@media screen and (max-width: 320px){

    .hero{
        padding: 2.5em .5em;
    }
}